.banner {
    height: 35vh;
    background-image: url('../../assets/banner-barbearia.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: 0% 45%;
    margin-bottom: 85px;
}

.secao-conteudo {
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}

.secao-conteudo h1 {
    font-size: 38px;
    margin-bottom: 25px;
}

.paragrafo1 {
    margin: auto;
    max-width: 800px;
    font-weight: bold;
    padding-bottom: 15px;
}

.assinatura {
    color: #B2987D;
    font-family: 'Great Vibes';
    font-size: 48px;
    padding-top: 65px;
    padding-bottom: 45px;
}

@media screen and (max-width: 375px){
    .banner {
        background-position: 50%;
        background-size: cover;  
    }

    .paragrafo1 {
        max-width: 300px;
    }
}


@media screen and (min-width: 376px) and (max-width: 768px){
    .paragrafo1 {
        max-width: 650px;
    }
}
